#img1{
    width: 100%;
}
#div1{
    display: flex;
    justify-content: center;
}
#div1 img {
    padding: 10px 0 10px;
    width: 80px;
    max-height: 70px;
}

h2{
    text-align: center;
}
.imgclas{
    width: 100%;
    margin: 0 20px 0;
}

.imgclass2{
    width: 100%;
    margin: 0 20px 0;
}

.imgclass3{
    width: 100%;
    height: 400px;
    margin: 0 20px 0;
}
#ggmap{
    width: 100%;
    height: 400px;
}

.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
}
#p1, #p2, h5{
    text-align: center;
}


